@import "tailwindcss";

:root {
  /* Cores Principais */
  --primary: #7c54bd;
  /* Roxo */

  /* Cores Secundárias */
  --secondary-yellow: #f6c647;
  /* Amarela */
  --secondary-green: #75fabd;
  /* Verde */

  /* Base Neutras */
  --neutral-white: #ffffff;
  /* Branco */
  --neutral-light-gray: #f4f4f4;
  /* Cinza Claro */
  --neutral-graphite: #2e2e2e;
  /* Grafite */

  /* Tons Escuros */
  --dark-black: #000000;
  /* Preto */
  --dark-navy: #1e2a38;
  /* Azul Marinho */

  /* Cores do sistema */
  --background: var(--neutral-white);
  --foreground: var(--neutral-graphite);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-black);
    --foreground: var(--neutral-light-gray);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes spin-slow {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}
